@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-self: center;
}

#root {
  width: 581px;
}


.completed-task {
  text-decoration: line-through;
  color: #db3545;
}

.todo-list {
  margin: 1rem 0;
}

.todo {
  margin: 8px 0;
  padding: 4px 0;
  position: relative;
}

input[type=text] {
  background: #E1E0E0;
  border: none;
  padding: 4px;
  padding: 8px 4px;
}

input[type=checkbox] {
  display: none;
}

.todo-checkbox {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 3rem;
}

.todo-checkbox::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 999px;
  border: 2px solid #93D94E;
  top: -2px;
  left: -3rem;
}