@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-self: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

#root {
  width: 581px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.completed-task {
  text-decoration: line-through;
  color: #db3545;
}
form,
.todo-rest,
.todoinput-line,
.todo-list {
  width: 100%;
}

.todoinput-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 5rem;
  padding: 0 1rem;
}

.todo,
input[type="text"] {
  padding: 16px 20px;

}

.todo,
.todo-addBtn {
  border: 1px solid #e1e0e0;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  position: relative;
  border-radius: 12px;
  box-shadow: 0px 4px 25px 0px rgba(225, 224, 224, 0.25);
}

input[type="text"] {
  width: calc(100% - 49px);
  background: #e1e0e0;
  border: none;
  border-radius: 12px 0 0 12px;
  border-top: 2px solid #e1e0e0;
}

input[type="checkbox"] {
  display: none;
}

.todo-checkbox {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 3rem;
}

.todo-checkbox::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 999px;
  border: 2px solid #93d94e;
  top: -2px;
  left: -3rem;
}

.todo-addBtn {
  border-radius: 0px 12px 12px 0px;
  background: #fff;
  width: 49px;
  height: 49px;
}

.todo-rest {
  text-align: right;
}

.icon-edit,
.icon-delete {
  padding: 0 4px;
}